@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


body{
    background-color: rgb(23, 5, 39);
}

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgb(61, 52, 63);
    height: 6%;
}

.header .navbar a:hover{
    color: goldenrod;
}
.navbar {
    width: 100%;
    height: 12%;
    display: flex;
    flex: row;
    justify-content: space-between;
}
.navbar a{
    color:white;
    text-decoration: none;
    font-weight: 600;
}

#logo {
    width: 20%;
    height: 20%;
}
.banner{
    margin-top: 6%;
    background: url(./images/Barber1.jpg);
    background-size: cover;
    height: 100vh;
}
.banner a{
    width: 150px;
    border: 0.5px solid white;
    margin: 0 10px;
    color: white;
    padding: 12px 0;
    z-index: 1;
    position: relative;
    transition: color 0.5s;
}

#about {
    margin-top: 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(51, 32, 63));
    background-size: 50%;
    height: 100vh;
}
#about img{
    width: 50%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#about h2{
    padding-top: 2%;
    font-size: xx-large;
    text-align: center;
    color: white;
}
#about div p{
    text-align: center;
    font-weight: 600;
    color: white;
}


.footer {
    color: goldenrod;
    background-color:  rgba(245, 234, 234, 0.1);

}
.footer .box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:2rem;
    /* background-color: rgb(23, 5, 39); */
}

.footer .box-container .footer-links h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
    text-decoration: underline;
}

.footer .box-container .footer-links a{
    display: block;
    font-size: 1rem;
    color: white;
    padding: 1rem 0;
    text-decoration: none;
}

.footer .box-container .footer-links a i{
    padding-right: .5rem;
    color: rgb(128, 107, 39);
}

.footer .box-container .footer-links a:hover i{
    padding-right:2rem;
}
#hair-dye {
}

.display_images{
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap:18px;
}
.display_images img 
{
    width: 100%;
    border-radius: 5px;
    height: 70%;
    cursor: pointer;
}